

<style>
    .container{
        border: 5px solid;
        width: 97px;
        height: 216px;
        
    }
     #div1{
        border: 2px solid;
        background-color:red;
        border-radius:50%;
        width: 71px;
        height: 60px;
        padding: 16px;
        margin-top: 6px;

    } 
    #div2{
        border: 2px solid;
        background-color:green;
        border-radius:50%;
        width: 71px;
        height: 60px;
        padding: 16px;
        margin-top: 6px;

    } 
    #div3{
        border: 2px solid;
        background-color:yellow;
        border-radius:50%;
        width: 71px;
        height: 60px;
        padding: 16px;
        margin-top: 7px;

    }

    
   
</style>


<div id="container">
    <div id="div1">Hello</div>
    <div id="div2"></div>
    <div id="div3"></div>
</div>

