@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Herb's Tea Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Your+Selected+Font&display=swap" rel="stylesheet">
    <link href="~/css/StaticWebsite.css" rel="stylesheet" />
 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    
  
   
  </head>
  <body>
    <div class="container">
        <div >

              <img src="~/images/StaticPageimg/Image1.png" alt="teaimage" id="image1"/>
              <h3 id="heading">Herb's Tea Shop    <br />
                  <i>We've got what you need</i>
              </h3>

            <h5>(404)555-1234 <br /> 123 Main St <br /> California</h5>
               <br />             
               <br /><br /><br />
        </div>
    </div>
    <div>
        <nav><ul><li><a href="#home">Home</a></li><li><a href="#about">About Us</a></li><li><a href="#contact">Contact Us</a></li></ul></nav>

    </div>
    <div>
        <span>
            <img src="~/images/StaticPageimg/image2.png" alt="image2" id="overlay-image" />
            <img src="~/images/StaticPageimg/Background (1).png" alt="background" id="background" />
        </span>
    </div>
    <div>
        <div class="newsletter-section">
            <h4>Tea of the Month Club</h4>
            <p>Use the form below to sign up<br /> for our Tea of the Month Club.</p>

           
                <div class="form-group" >
                <label class="required" for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control form-control-sm custom-textbox" />
                </div>
                <div class="form-group">
                <label class="required" for="email">Email Address</label>
                <input type="email" id="email" name="email" class="form-control form-control-sm custom-textbox" />
                </div>
                <div class="form-group">
                <label class="required" for="message">Message</label>
                <textarea id="message" name="message" class="form-control form-control-sm custom-textbox" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Send Message" class="btn btn-change" />
                </div>
           
        </div>
        <div class="newletter-section2">
            <h4 id="OurTea">Our Tea is the Best!</h4>
            <p class="text">You might say.It's destiny that a man named Herb should become so passionte about tea. We think it was just good luck.Our founder, Hear Anderson , travel the world metting with leading leading tea importer and talened tea growers to keep up with the latest in the industry and bring it home to you</p>
        </div>
    </div>

    <div class="newletter-section3">
        <div class="image4">
            <h6>Tea Sets</h6>
             <img src="~/images/StaticPageimg/Image4.png" alt="image4" id="Setimg4position"/> 
            <p id="img4Paragraph"> Our store stocks a variety of factory made as well as hand made tea sets. we have many style, so come in and choose one that is right for you or pick the perfect gift </p>
        </div>
        <div class="image3">
            <h6>Tea Varieties</h6>
            <img src="~/images/StaticPageimg/Image3.png" alt="image4" id="Setpositionimg3"/> 
            <p id="img3Paragraph">Whether you want ot come have a cup in the morning or take a pound home with you we've got you convered with a plethora of deliciou tea varieties</p>
        </div>
        <div class="image2">
            <h6>Tea Testing</h6>

        <img src="~/images/StaticPageimg/Image2.png" alt="image4" id="img4" id="Setpositionimg2" />
        <p id="img2Paragraph">Sign up for our weekly tea tasting event. View photos of previous events and hear what real customer had to say about thier experience</p>
        
        </div>
    </div>

    <div>
        <div class="newletter-section4">
            <h6>Tea of the Day:</h6>
            <img src ="~/images/StaticPageimg/Image5.png"  alt="img6"/>
        </div>
        <div class="newletter-section5">
            <h6>Our Address <br /> </h6>
            <p> 123 Main St <br />California, US </p>

        </div>
        <div>
            <img src="~/images/StaticPageimg/Image6Map.png" alt="mapimg" id="SetMapImage" />
        </div>
    </div>
   
   
    
       
   
   
   

  </body>
</html>

